@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
  font-family: Roboto, sans-serif;
  overflow-x: hidden;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

/* Solution */

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

ul {
  list-style: none;
  display: flex;
  gap: 12px;
}

a {
  text-decoration: none;
  color: #706b6b;
}

button {
  padding: 12px;
}

.header, .footer {
  padding: 18px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.footer {
  background-color: #eeeeee;
}