/* Add CSS Styling */
.odd {
    background-color: #fd6970;
    font-family: 'Verdana', 'DejaVu Sans', sans-serif;
}

#second {
    color: #00f;
    font-size: 36px;
}

.odd.bigger-font {
    font-size: 24px;
}

#fourth {
    background-color: #62f565;
    font-size: 24px;
    font-weight: 700;
}