/* Add CSS Styling */

.btn1 {
    background-color: #000;
    color: #fff;
}

.btn2 {
    background-color: #ffe711;
}

.btn1, .btn2 {
    font-family: 'Helvetica', 'Times New Roman', sans-serif;
    font-size: 28px;
}