
body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 8px;
}

.content {
  background: #e3f4ff;
  margin: 16px auto;
  padding: 9px;
}

.button-container {
  text-align: center;
  background: #e3f4ff;
  padding: 9px;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  padding: 8px 25px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}